/*personagens*/
.moeda {
   position: absolute;
   top: 1vw;
   left: 1vw;
   height: 0vw;
   width: 0vw;
   background-color: goldenrod;
   border-radius: 50%;
}
.pilar {
   position: absolute;
   top: 1vw;
   left: 1vw;
   height: 0vw;
   width: 0vw;
   transform: rotate(45deg);
   background-color: aqua;
}
.chao {
   position: absolute;
   top: 30vw;
   left: 20vw;
   height: 0vw;
   width: 0vw;
   background-image: url('../img/plataforma_neve.jpg');
   background-size: cover;
   background-color:coral;
   transform: translateZ(7);
}

body {
   transform: translateZ(6);
}

/*     */
.fora {position:absolute;
   top: 2vw;
   left: 10%}

.fundo {position:absolute;
    width: 80vw;
    height: 40vw;
    background-image: url('../img/paisagem_neve.jpg');
    background-size:cover;
    border: solid 5px maroon;
    text-align: center;
    transform: translateZ(111);
   }
.painel {
   position: absolute;
    top: 42vw; 
    left:10vw; 
    text-align: center;
}  
#div2 {
   position: absolute; 
   top: 5vw; 
   left: 5vw; 
   width: 5vw; 
   height: 5vw; 
   background-color: green; 
   text-align: center;
}
#div1 {
   position: absolute;
   top: 15vw;
   left: 15vw; 
   width: 5vw; 
   height: 5vw; 
   background-color: green; 
   text-align: center;
   font-size: 300%;
}
